test/request-response-samples/Login__unsupported_response_name_returned_and_local_xs_schema_missed/soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IewsServerservice" targetNamespace="urn:webservice-electrasoft-ru" xmlns:tns="urn:webservice-electrasoft-ru" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="http://www.borland.com/namespaces/Types" xmlns:ns2="urn:webservice-electrasoft-ru:types-ewsServerIntf">
    <types>
        <xs:schema targetNamespace="http://www.borland.com/namespaces/Types" xmlns="http://www.borland.com/namespaces/Types">
            <xs:complexType name="TWideStringDynArray">
                <xs:complexContent>
                    <xs:restriction base="soapenc:Array">
                        <xs:sequence/>
                        <xs:attribute ref="soapenc:arrayType" n1:arrayType="xs:string[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
                    </xs:restriction>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="TIntegerDynArray">
                <xs:complexContent>
                    <xs:restriction base="soapenc:Array">
                        <xs:sequence/>
                        <xs:attribute ref="soapenc:arrayType" n1:arrayType="xs:int[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
                    </xs:restriction>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema targetNamespace="urn:webservice-electrasoft-ru:types-ewsServerIntf" xmlns="urn:webservice-electrasoft-ru:types-ewsServerIntf">
            <xs:simpleType name="TewsLoginResult">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="lrSuccess"/>
                    <xs:enumeration value="lrMustChangePassword"/>
                    <xs:enumeration value="lrRestrictedAccess"/>
                    <xs:enumeration value="lrInternetAccessDenied"/>
                    <xs:enumeration value="lrAccessDenied"/>
                    <xs:enumeration value="lrUserAccountClosed"/>
                    <xs:enumeration value="lrClientServerTimeDiff"/>
                    <xs:enumeration value="lrInvalidConnection"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="TewsInternalMessageReadUnreadType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="imrtRead"/>
                    <xs:enumeration value="imrtUnead"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </types>
    <message name="GetConnectionList0Request"/>
    <message name="GetConnectionList0Response">
        <part name="return" type="ns1:TWideStringDynArray"/>
    </message>
    <message name="Login1Request">
        <part name="ConnectionID" type="xs:string"/>
        <part name="UserAlias" type="xs:string"/>
        <part name="Password" type="xs:string"/>
        <part name="Language" type="xs:string"/>
        <part name="ProfileID" type="xs:string"/>
        <part name="ContextXML" type="xs:string"/>
        <part name="Timeout" type="xs:unsignedInt"/>
    </message>
    <message name="Login1Response">
        <part name="SessionID" type="xs:string"/>
        <part name="return" type="ns2:TewsLoginResult"/>
    </message>
    <message name="Logout2Request">
        <part name="SessionID" type="xs:string"/>
    </message>
    <message name="Logout2Response"/>
    <message name="Ping3Request">
        <part name="SessionID" type="xs:string"/>
    </message>
    <message name="Ping3Response"/>
    <message name="UpdateErrorMessage4Request">
        <part name="ErrorMsg" type="xs:string"/>
    </message>
    <message name="UpdateErrorMessage4Response">
        <part name="return" type="xs:string"/>
    </message>
    <message name="GetBrokerData5Request">
        <part name="ConnectionTag" type="xs:string"/>
    </message>
    <message name="GetBrokerData5Response">
        <part name="PerfomanceRate" type="xs:double"/>
        <part name="return" type="xs:string"/>
    </message>
    <message name="PostNotification6Request">
        <part name="SessionID" type="xs:string"/>
        <part name="Notification" type="xs:string"/>
        <part name="Broadband" type="xs:boolean"/>
    </message>
    <message name="PostNotification6Response"/>
    <message name="ChangeLanguage7Request">
        <part name="SessionID" type="xs:string"/>
        <part name="Language" type="xs:string"/>
    </message>
    <message name="ChangeLanguage7Response">
        <part name="Language" type="xs:string"/>
    </message>
    <message name="SendInternalMessage8Request">
        <part name="SessionID" type="xs:string"/>
        <part name="ReceiverGuid" type="xs:string"/>
        <part name="Message" type="xs:string"/>
    </message>
    <message name="SendInternalMessage8Response"/>
    <message name="GetInternalMessages9Request">
        <part name="SessionID" type="xs:string"/>
        <part name="OnlyUnread" type="xs:boolean"/>
        <part name="MaxCount" type="xs:int"/>
        <part name="FromDateTime" type="xs:dateTime"/>
    </message>
    <message name="GetInternalMessages9Response">
        <part name="return" type="xs:string"/>
    </message>
    <message name="SearchInternalMessages10Request">
        <part name="SessionID" type="xs:string"/>
        <part name="TextFragment" type="xs:string"/>
    </message>
    <message name="SearchInternalMessages10Response">
        <part name="return" type="xs:string"/>
    </message>
    <message name="GetInternalNotices11Request">
        <part name="SessionID" type="xs:string"/>
        <part name="BeginDateTime" type="xs:dateTime"/>
        <part name="EndDateTime" type="xs:dateTime"/>
        <part name="IncludeRead" type="xs:boolean"/>
        <part name="OnlyUnread" type="xs:boolean"/>
    </message>
    <message name="GetInternalNotices11Response">
        <part name="return" type="xs:string"/>
    </message>
    <message name="SearchInternalNotices12Request">
        <part name="SessionID" type="xs:string"/>
        <part name="TextFragment" type="xs:string"/>
    </message>
    <message name="SearchInternalNotices12Response">
        <part name="return" type="xs:string"/>
    </message>
    <message name="MarkInternalMessagesAs13Request">
        <part name="SessionID" type="xs:string"/>
        <part name="ReadType" type="ns2:TewsInternalMessageReadUnreadType"/>
        <part name="MessageIdList" type="ns1:TIntegerDynArray"/>
    </message>
    <message name="MarkInternalMessagesAs13Response"/>
    <portType name="IewsServer">
        <operation name="GetConnectionList">
            <input message="tns:GetConnectionList0Request"/>
            <output message="tns:GetConnectionList0Response"/>
        </operation>
        <operation name="Login">
            <input message="tns:Login1Request"/>
            <output message="tns:Login1Response"/>
        </operation>
        <operation name="Logout">
            <input message="tns:Logout2Request"/>
            <output message="tns:Logout2Response"/>
        </operation>
        <operation name="Ping">
            <input message="tns:Ping3Request"/>
            <output message="tns:Ping3Response"/>
        </operation>
        <operation name="UpdateErrorMessage">
            <input message="tns:UpdateErrorMessage4Request"/>
            <output message="tns:UpdateErrorMessage4Response"/>
        </operation>
        <operation name="GetBrokerData">
            <input message="tns:GetBrokerData5Request"/>
            <output message="tns:GetBrokerData5Response"/>
        </operation>
        <operation name="PostNotification">
            <input message="tns:PostNotification6Request"/>
            <output message="tns:PostNotification6Response"/>
        </operation>
        <operation name="ChangeLanguage">
            <input message="tns:ChangeLanguage7Request"/>
            <output message="tns:ChangeLanguage7Response"/>
        </operation>
        <operation name="SendInternalMessage">
            <input message="tns:SendInternalMessage8Request"/>
            <output message="tns:SendInternalMessage8Response"/>
        </operation>
        <operation name="GetInternalMessages">
            <input message="tns:GetInternalMessages9Request"/>
            <output message="tns:GetInternalMessages9Response"/>
        </operation>
        <operation name="SearchInternalMessages">
            <input message="tns:SearchInternalMessages10Request"/>
            <output message="tns:SearchInternalMessages10Response"/>
        </operation>
        <operation name="GetInternalNotices">
            <input message="tns:GetInternalNotices11Request"/>
            <output message="tns:GetInternalNotices11Response"/>
        </operation>
        <operation name="SearchInternalNotices">
            <input message="tns:SearchInternalNotices12Request"/>
            <output message="tns:SearchInternalNotices12Response"/>
        </operation>
        <operation name="MarkInternalMessagesAs">
            <input message="tns:MarkInternalMessagesAs13Request"/>
            <output message="tns:MarkInternalMessagesAs13Response"/>
        </operation>
    </portType>
    <binding name="IewsServerbinding" type="tns:IewsServer">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetConnectionList">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#GetConnectionList" style="rpc"/>
            <input message="tns:GetConnectionList0Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:GetConnectionList0Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="Login">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#Login" style="rpc"/>
            <input message="tns:Login1Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:Login1Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="Logout">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#Logout" style="rpc"/>
            <input message="tns:Logout2Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:Logout2Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="Ping">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#Ping" style="rpc"/>
            <input message="tns:Ping3Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:Ping3Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="UpdateErrorMessage">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#UpdateErrorMessage" style="rpc"/>
            <input message="tns:UpdateErrorMessage4Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:UpdateErrorMessage4Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="GetBrokerData">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#GetBrokerData" style="rpc"/>
            <input message="tns:GetBrokerData5Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:GetBrokerData5Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="PostNotification">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#PostNotification" style="rpc"/>
            <input message="tns:PostNotification6Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:PostNotification6Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="ChangeLanguage">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#ChangeLanguage" style="rpc"/>
            <input message="tns:ChangeLanguage7Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:ChangeLanguage7Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="SendInternalMessage">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#SendInternalMessage" style="rpc"/>
            <input message="tns:SendInternalMessage8Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:SendInternalMessage8Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="GetInternalMessages">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#GetInternalMessages" style="rpc"/>
            <input message="tns:GetInternalMessages9Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:GetInternalMessages9Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="SearchInternalMessages">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#SearchInternalMessages" style="rpc"/>
            <input message="tns:SearchInternalMessages10Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:SearchInternalMessages10Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="GetInternalNotices">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#GetInternalNotices" style="rpc"/>
            <input message="tns:GetInternalNotices11Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:GetInternalNotices11Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="SearchInternalNotices">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#SearchInternalNotices" style="rpc"/>
            <input message="tns:SearchInternalNotices12Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:SearchInternalNotices12Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
        <operation name="MarkInternalMessagesAs">
            <soap:operation soapAction="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer#MarkInternalMessagesAs" style="rpc"/>
            <input message="tns:MarkInternalMessagesAs13Request">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </input>
            <output message="tns:MarkInternalMessagesAs13Response">
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:webservice-electrasoft-ru:types-ewsServerIntf-IewsServer"/>
            </output>
        </operation>
    </binding>
    <service name="IewsServerservice">
        <port name="IewsServerPort" binding="tns:IewsServerbinding">
            <soap:address location="http://extgate.alean.ru:8082/webservice/ewebsvc.dll/soap/IewsServer"/>
        </port>
    </service>
</definitions>